<div class="page-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h2><b>Welcome</b>
                <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
            </h2>
        </div>
    </div>
    <div class="list-container">
        <div class="row">
            <div class="col-md-6">
                <a class="link-to-add-taskByIcon" routerLink="/add-task" routerLinkActive="active">
                    <i class="fa fa-plus"
                        aria-hidden="true">
                    </i>
                </a>
                <a class=" link-to-add-taskByText" routerLink="/add-task" routerLinkActive="active">Add task </a>
                <!--link to another component-->


                <!-- </div> -->
                <!-- <input type="text" id="" [(ngModel)]="task" class="toAddTask-textBox" placeholder="Add task"> -->
                <!-- <button type="submit" class="btn btn-success" (click)="addNewTask()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button> -->
            </div>
        </div>
    </div>
</div>